.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  height: 30vh;
 
 

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.player1{
  list-style: none;
 
}
.playerdice1{
 
}

.player2{
  list-style: none;
  /* position: relative;
  display: flex;
  justify-content: center;
  text-align: center; */
 
}
/* .playerdice2{
 position: absolute;
}


.playerhide1{
  visibility: hidden;
} */
/* .playerhide2{
  visibility: hidden;
} */ 

.refresh-button{
  padding: 10px 30px;
  margin-top: 20px;
  background-color: #4ECCA3;
  border-radius: 5px;
  border-style: none;
  transition-duration: 1ms;
  font-family:sans-serif ;
  font-weight: bolder;

}
.refresh-button:hover{
  background-color: #EEEEEE;
}
